= form_with(model: table, local: true, class: 'form') do |form|
  - if table.errors.any?
    #error_explanation.alert.alert-danger
      %h2= "#{pluralize(@table.errors.count, "error")} prohibited this table from being saved:"
      %ul
        - @table.errors.full_messages.each do |message|
          %li= message
  .form-group
    = form.label :name
    = form.text_field :name, class: 'form-control'
  #actions
    = form.submit
