.row
  .col
    - if notice
      %p{role: 'alert', class: 'alert alert-info', id: 'notice'}= notice
    %h1 Available game tables

    %table.table.table-striped
      %thead
        %tr
          %th Table Name
          %th Comments
          %th
          %th
          %th

      %tbody
        - @tables.each do |table|
          %tr
            %td= table.name
            %td= table.comments
            %td= link_to 'Show', table
            %td= link_to 'Edit', edit_table_path(table)
            %td= link_to 'Destroy', table, method: :delete, data: { confirm: 'Are you sure?' }

    %br

    = form_with model: Table.new, local: true, class: 'form-inline' do |form|
      .form-group
        = form.label :name, "New Table Name", class: 'mr-2'
        = form.text_field :name, class: 'form-control mr-2'
        = form.submit class: 'btn btn-primary'
