.row
  .col
    - if notice
      %p{role: 'alert', class: 'alert alert-info', id: 'notice'}= notice
    %h1= @table.name
    = link_to 'Cancel', @game, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'
    = simple_format @table.comments
    %table.table#to-play
      %thead
        %th Games at this table
        %th # players supported
        %th Playtime (minutes)
        %th Actions
      %tbody
        = render partial: 'game_row', collection: @table.game_tables, as: :game_table
    %h3 Add a game to this table
    = form_for @game_table do |f|
      = f.label :game_id, 'Available Games'
      = f.collection_select :game_id, @games, :id, :name
      = hidden_field_tag 'game_table[table_id]', @table.id
      = f.submit 'Add Game'
    = link_to 'Edit', edit_table_path(@table)
    \|
    = link_to 'Back', tables_path
